<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Система учета музейных культур</title>
</head>
<body>
<div>
<h1>
    Функции администратора
</h1>
<!--    <p><a href="user-create">user-create</a></p>-->
<!--    <p><a href="users">users-list</a></p>-->
    <p><a href="/admin/user-create">admin/user-create</a></p>
    <p><a href="/admin/users">admin/users-list</a></p>

    <p><a href="/admin/country-create">admin/country-create</a></p>
    <p><a href="/admin/countries">admin/countries-list</a></p>

    <p><a href="/admin/country-create">admin/city-create</a></p>
    <p><a href="/admin/countries">admin/cities-list</a></p>


<h1>
    Функции пользователя
</h1>
    <p><a href="/user/strain-create">user/strain-create</a></p>
    <p><a href="/user/strains">user/strains-list</a></p>

<h1>
    Системные функции
</h1>
    <p><a href="/login">login</a></p>
    <p><a href="/logout">logout</a></p>

</div>
</body>
</html>
