<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create city</title>
</head>
<body>
<form action="#" th:action="@{/admin/city-create}" th:object="${city}" method="post">

    <label for="country_id">Country Id</label>
    <input type="number" th:field="*{country_id}" id="country_id" placeholder="Country Id">

        <label for="city">City</label>
        <input type="text" th:field="*{city}" id="city" placeholder="City">


    <input type="submit" value="Create City">
</form>
</body>
</html>